html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#container1 {
  background-color: rgb(221, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#tableContainer {
  width: 100%;
  background-color: rgb(253, 255, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.buttons {
  display: flex;
}

.btn {
  margin: 1rem;
  border: 0.1rem solid black;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

#deleteButton {
  background-color: rgb(197, 0, 0);
}

#container3 {
  width: 100%;
  background-color: rgb(252, 218, 213);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18rem;
}

label {
  padding: 0.2rem 0rem 0.2rem 0rem;
}

#submit {
  margin: 0.6rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
}

#searchTourist {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#searchTouristLabel {
  margin: 2rem;
  font-size: 1.2rem;
}

#searchTouristText {
  margin-right: 2rem;
  font-size: 1rem;
}

#submitSearch {
  font-size: 1rem;
  border: 0.1rem black solid;
  border-radius: 0.4rem;
  background-color: rgb(211, 241, 231);
}

.displayNone {
  display: none;
}
